.container2 {
    background-image: url('../assets/images/settingbg.jpg'); /* Add your image path here */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    border-radius: 5px;
    padding: 10px;
    max-width: 500px;
    margin: auto;
  }

.info {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .info strong {
    margin-right: 10px;
    text-align: left; /* Align label to the left */
  }
  .info span, .info input {
    text-align: left; /* Align content to the left */
    flex-grow: 1;
    font-family: Arial, sans-serif;
  }
  .info input {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
  }
  .info button {
    padding: 5px 10px;
    cursor: pointer;
  }
  #saveChangesBtn {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    display: none; /* Hide initially */
  }
  #logoutBtn {
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
  }

/* Responsive styles */
@media (max-width: 768px) {
  .container2 {
    padding: 10px;
    max-width: 100%;
  }

  .info {
    flex-direction: column;
    align-items: flex-start;
  }

  .info strong, .info span, .info input, .info button {
    margin-bottom: 10px; /* Add space between items */
    width: 100%; /* Full width on small screens */
  }

  #saveChangesBtn, #logoutBtn {
    width: auto; /* Adjust width for buttons */
    padding: 5px 10px; /* Smaller padding on small screens */
  }
}

/* bx-icons specific adjustments */
.bx {
  font-size: 1.5rem; /* Adjust icon size if needed */
}